.annotation-form {
   display: flex;
   flex-direction: column;
}

.add-annotation {
   resize: none;
   border: 2px solid rgb(172, 172, 240);
   width: 90%;
   height: 200px;
}

.add-annotation-btn {
   margin-top: 10px;
   width: fit-content;
   padding: .25em .75em;
   color: lightgreen;
   border: 2px solid green;
   background: transparent;
   font-size: 15px;
   font-weight: 600;
}