.comments-index-container {
   // background-color: #f7f7f7;
   // border-top: 2px solid rgb(172, 172, 240);
   padding: 10px;
   // width: 90%;
}

.comments-list {
   padding: 10px;
}

.comment-index-item {
   border-top: 2px solid rgb(172, 172, 240);
   padding: 10px;
}

.comment-body {
   color: black;
}

.comment-author-container {
   display: flex;
}

.comment-author {
   color: black;
   padding: 0 0 10px 0;
   font-size: medium;
}

.comment-author-icon {
   color: black;
   font-size: small;
   margin-right: 10px;
}