.comments-index-container {
   // background-color: #f7f7f7;
   // border-top: 2px solid rgb(172, 172, 240);
   padding: 10px;
   // width: 90%;
}

.comments-list {
   padding: 10px;
}

.comment-index-item {
   border-top: 1px solid rgb(172, 172, 240);
   padding: 10px;
   font-family: 'Baloo 2', sans-serif;
}

.comment-body {
   color: black;
   padding-left: 5px;
}

.comment-author-container {
   display: flex;
}

.comment-author {
   color: black;
   padding: 0 0 10px 0;
   font-size: medium;
   font-weight: bolder;
}

.comment-author-icon {
   color: black;
   font-size: 9px;
}

.icon-background {
   color: rgb(218, 216, 216)
}

.comment-date {
   color: rgb(165, 164, 164);
   font-size: 13px;
   font-weight: bolder;
}

.comment-info {
   display: flex;
   justify-content: space-between;
}