
.session-form {
  display: flex;
  justify-content: center;
  background-color: #080808;
}

.form-header {
  text-align: center;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

form {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid rgba(153,153,153,.07);
  border-radius: 2px;
  background-color: #131212;
}

.form-container {
  width: 370px;
  padding: 10px;
  background-color: transparent;
}

.block-btn {
  color: rgb(218, 216, 216);
  background-color: rgb(54, 53, 53);
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  margin-top: 5px;
  border-radius: 2px;
}

.demo-btn {
  color: white;
  width: 100%;
  background-color: rgb(238, 84, 84);
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  padding: 7px;
}

input[type=text] {
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(54, 53, 53);
  color: rgb(218, 216, 216);
}

input[type=password] {
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(54, 53, 53);
  color: rgb(218, 216, 216);
}

label {
  font-family: sans-serif;
  color: rgb(218, 216, 216);
  font-size: 12px;
  font-weight: bold;
}

.form-type {
  color: rgb(252, 252, 84);
  display: block; 
  font-size: 2em; 
  margin-top: 0.67em; 
  margin-bottom: 0.67em; 
  margin-left: 0; 
  margin-right: 0; 
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}

.session-form-footer {
  margin: 10px 0 0 0;
  font-family: sans-serif;
  color: rgb(218, 216, 216);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.login-link {
  color: rgb(20, 136, 224);
}

.signup-link {
  color: rgb(20, 136, 224);
}
