
.session-form {
  display: flex;
  justify-content: center;
  background-color: #262626;
}

.form-header {
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 0 0 8px 0;
}

form {
  padding: 10px;
  border: 1px solid rgba(153,153,153,.07);
  border-radius: 2px;
}

.form-container {
  width: 370px;
  padding: 10px;
  background-color: transparent;
}

.block-btn {
  color: rgb(218, 216, 216);
  background-color: rgb(54, 53, 53);
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  margin-top: 5px;
  border-radius: 2px;
}

.demo-btn {
  color: white;
  width: 100%;
  background-color: rgb(238, 40, 40);
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  padding: 7px;
}

input[type=text] {
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(54, 53, 53);
  color: rgb(218, 216, 216);
}

input[type=password] {
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(54, 53, 53);
  color: rgb(218, 216, 216);
}

label {
  font-family: sans-serif;
  color: rgb(218, 216, 216);
  font-size: 12px;
  font-weight: bold;
}

h2 {
  color: white;
}

.session-form-footer {
  margin: 10px 0 0 0;
  font-family: sans-serif;
  color: rgb(218, 216, 216);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.login-link {
  color: rgb(20, 136, 224);
}