body {
  display: block;
  font-family: sans-serif;
}

.nav-bar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(252, 252, 84);
}

.nav-bar > * {
  flex-grow: 1;
  flex-basis: 0px;
  flex-shrink: 1;
}

.btn {
  text-transform: uppercase;
  font-size: x-small;
  font-weight: bold;
  margin-right: 10px;
  padding: 0 2px;
}

.btn:hover {
  border-top: 4px solid transparent;
  border-bottom: 4px solid red;
}

.logo {
  text-align: center;
  font-size: 26px;
  color: rgb(252, 252, 84);
  text-transform: uppercase;
  text-shadow: -2px 3px black;
  letter-spacing: 0.3em;
}

.actions {
  display: flex;
  height: 40px;
  justify-content: flex-end;
}

.actions > * {
  height: 100%;
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  padding: 0px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.dropdown:hover {
  border-top: 4px solid transparent;
  border-bottom: 4px solid red;
}

.dropdown-btn {
  background-color: rgb(218, 216, 216);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  cursor: pointer;
}

.dropdown-content {
  margin-top: 2.5rem;
  width: 210px;
  padding: 5px;
  position: absolute;
  right: 10px;
  border: 1px solid white;
  background-color: whitesmoke;
}

.dropdown-list li {
  padding: 6px 15px;
  list-style: none;
  font-family: sans-serif;
  font-size: .875em;
  font-weight: 600;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  cursor: pointer;
}

.dropdown-content:hover {
  background-color: rgb(172, 172, 240);
  color: white;
}

.lower-nav {
  display: flex;
  background-color: black;
  justify-content: center;
  height: 40px;
}

.lower-nav-btns {
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.btn-separator {
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}