body {
  display: block;
  font-family: sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgb(252, 252, 84);
}


.btn {
  padding: 5px;
  text-transform: uppercase;
  font-size: x-small;
  font-weight: bold;
}

.btn:hover {
  border-bottom: 5px solid red;
 padding-bottom: 15px;
}

.logo {
  padding: 5px;
  font-size: 22px;
  color: rgb(252, 252, 84);
  text-transform: uppercase;
  text-shadow: -2px 2px black;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 10px 0 0;
}

.dropdown-btn {
  background-color: rgb(218, 216, 216);
  border-radius: 15px;
}

.dropdown-content {
  width: 150px;
  padding: 5px;
  position: absolute;
  right: 10px;
  border: 1px solid white;
  background-color: whitesmoke;
}

.dropdown-list li {
  list-style: none;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

