.close-modal-btn {
   
}

.modal-description {
   text-align: center;
}

.modal-header {

}

.modal-window {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: fixed;
   z-index: 50;
   font-family: 'Baloo 2', sans-serif;
}