.track-header {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 24px;
  background-color: black;
}

.fa-music {
  margin: 0 15px;
  font-size: 60px;
  color: white;
}
.track-info {
  display: flex;
  flex-direction: column;
  color: white;
}

.artist-name {
  margin: 0;
}

.artist-title {
  margin: 0;
}

.track-body-container {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.track-body {
  width: 80%;
  display: flex;
  margin-top: 1.5rem;
  font-size: 1.125em;
  line-height: 1.7em;
  background-color: white;
}

.lyrics-column {
  flex: 68%;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}
.about-track {
  flex: 32%;
}

.edit-btn {
  border-color: black;
  
}