.top-tracks-header {
    display: block; 
    font-size: 4em; 
    padding: 10px;
    font-family: 'Kanit', sans-serif;
}

.top-tracks-container {
    background: rgb(255,255,255);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.top-tracks-chart {
    border-top: 3px solid black;
    width: 80%;
}

.top-track-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: my-counter;
}

.top-track-list li {
    padding: 0 15px;
    border-bottom: 1px solid #ccc;
    counter-increment: my-counter;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-track-list li > * {
    flex-grow: 1;
    flex-basis: 0px;
    flex-shrink: 1;
}

.top-track-list li::before {
    content: counter(my-counter);
    display: flex;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
    font-family: 'Baloo 2', sans-serif;
}

.albumart-title {
    display: flex;
    align-items: center;
    padding: 10px;
}

#icon {
    color: black;
    font-size: 40px;
}

.artist {
    font-family: 'Baloo 2', sans-serif;
    font-size: 24px;
}

.title {
    font-family: 'Baloo 2', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.track-list-item {
    cursor: pointer;
}

.track-list-item:hover {
    background-color: rgb(224, 222, 222);
}